@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&family=Sacramento&display=swap');

:root{
    --primary-color: #05386B;
    --dark-gray: #1f1e1e;
    --primary-background: #5CDB95;
}

body{
    font-family: "Montserrat", sans-serif;
    padding:0;
    margin:0;
}

/*Containers*/
.container{
    padding: 0 1rem 0 1rem;
}
.container-center{
    margin: auto;
    max-width: 37.5rem;
    text-align: center;
}

/*Links*/
.links{
    padding: 0.5rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
}
.primary-link{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color:azure;
    border-radius: 1rem;
    padding:0.5rem 1rem;
    max-width:140px;
    
}
.primary-link:hover{
    border: 2px solid var(--primary-color);
    background-color: #042546;
    color:azure;
    border-radius: 1rem;
    padding:0.5rem 1rem;
    max-width:140px;
    
}
.secondary-link{
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    color: var(--primary-color);
    padding:0.5rem 1rem;
    max-width:140px;
}
.secondary-link:hover{
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    color: var(--primary-color);
    padding:0.5rem 1rem;
    max-width:140px;
}
.div-with-buttons{
    text-align: center;
    padding: 2rem 0;
}

/*HR*/
hr{
    padding: 0 0.5rem;
}

/*Lists*/
.non-bullet{
    list-style: none;
}
.list-item-inline{
    display:inline;
    padding: 0 0.5rem 0 0.5rem;
}
.top-container{
    background-color: var(--primary-background);
}
/*Navigation*/
.navbar{
    background-color: var(--primary-color);
    color: azure;
    padding: 1rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-style: groove;
    border-top-right-radius: 1rem;
   
}

.navbar .links{
    color:azure;
}
.nav-right{
    text-align:right;
}
.nav-brand{
    font-weight: bold;
}
.nav-right a.active-link{
    font-weight: bold;
    color:white;
}

/*Header part*/
.hero{
    padding: 2rem 1rem 0 1rem;
}
.hero .hero-img{
    display: flex;
    max-width: 22rem;
    margin: auto;
    border-radius: 20px;
    
}
.hero .hero-h1{
    color:var(--dark-gray);
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
.hero p{
    font-family: "Montserrat", serif;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.my-intro{
    font-family: "Montserrat", serif;
    color:var(--dark-gray);
    text-align: center;
    padding: 2rem 12rem 2rem 12rem;
    font-size: 1.2rem;
    margin:0;
    
}

/*Section*/
.section{
    padding: 2rem;
    
}
.section h1{
    text-align: center;
    
}
.green-section{
    background-color: var(--primary-background);
    color: var(--primary-color);
}
.white-section{
    
    color: var(--primary-color);
    background-color: rgb(245, 248, 248);
    /* background-color: #d9f7e7; */
}
.section p{
    font-family: "Montserrat", serif;
    color:var(--dark-gray);
    text-align: center;
    padding: 1rem 12rem 1rem 12rem;
    font-size: 1.2rem;
    margin:0;
}

/*Footer*/
.footer{
    background-color: var(--primary-color);
    color:azure;
    text-align:center;
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    border-top-style: groove;
    border-bottom-left-radius: 1rem;
}
.footer a{
    color:azure;
}
.footer a:hover{
    color:var(--primary-background);

}
.social-links{
    padding: 0rem;
}

/*****Project Page*****/
.project-header{
    text-align: center;
    padding: 4rem;
    background-color: var(--primary-background);
    color:var(--dark-gray);

}

.project-header span{
    color: var(--primary-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.project-div ol{
    padding:0;
    margin:0;
}
.project-container{
    text-align: center;
    padding: 2rem;
    margin:0 auto;
    
}
.project-container p{
    width: 40%;
    margin: 0rem auto 1rem;
    padding:1rem;
}
.project-container h2{
    margin:auto;
    padding:1rem;
}
.project-container .links{
    margin: auto 1rem;
}

